.loginWrapper {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #2a6078;
}

.loginFormWrapper {
	margin: 0;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 1rem;

	@media (min-width: 1200px) {
		max-width: calc(400px - 50px);
		padding: 0 0 0 50px;
	}

	h1 {
		margin: 0;
		font-weight: normal;
		font-size: 2.5rem;
		text-align: center;
		color: #fff;
		width: 100%;
		padding: 1.25rem 0;

		@media(min-width:1200px)
		{
			padding: 0 0 20px 0;
		}

	}

	form {
		width: 100%;
	}

	button {
		border: none;
		width: 100%;
		border-radius: 5px;
		font-weight: normal;
		font-size: 1rem;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding: 12px;
		background: linear-gradient(#23a7e2 0%, #1b81ae 46.31%, #125471 100%);
		cursor: pointer;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		&:hover {
			background: linear-gradient(#125471 0%, #1b81ae 46.31%, #23a7e2 100%);
		}
	}

	button[disabled] {
		background: #adadad;
		cursor: not-allowed;
	}
}

.formGroup {
	position: relative;

	label {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #fff;
	}

	input {
		background: rgba(253, 253, 253, 0.5);
		border: none;
		border-radius: 3px;
		padding: 15px 15px 15px 40px;
		width: calc(100% - 55px);
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 1rem;
		text-align: left;
		color: rgba(255, 255, 255, 0.7);

		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.7);
		}

		&::-moz-placeholder {
			color: rgba(255, 255, 255, 0.7);
		}

		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.7);
		}

		&:-moz-placeholder {
			color: rgba(255, 255, 255, 0.7);
		}

		&:focus {
			outline: none;
			border: none;
		}
	}
}

.loginLink {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 0 20px 0;

	a {
		display: inline-flex;
		font-weight: normal;
		font-size: 1rem;
		color: #fff;
		text-decoration: none;
	}
}

.socialLogin {
	padding: 0;
	margin: 1.25rem 0;
	width: 100%;

	@media(min-width:1200px)
	{
		margin: 20px auto 0;
		width: 300px;
	}

	h2 {
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-size: 15px;
		color: #fff;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		width: 100%;

		span {
			background: #2a6078;
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			padding: 0 15px;
			position: inherit;
		}

		&:before {
			height: 1px;
			background: #fff;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			position: absolute;
			content: "";
		}
	}

	ul {
		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

		li {
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			width: 45px;
			height: 45px;
			margin: 0 15px;

			a {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				border: 1px solid #fff;
				border-radius: 100%;
				width: 45px;
				height: 45px;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;

				&:hover {
					background: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}
}
