.loginVectorWrapper {
    margin: 0 0 1rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-around;
    

    @media (min-width: 1200px) {
        max-width: calc(100% - 400px);
        justify-content: flex-end;
        margin: 0;
    }

    img {
        max-width: 80%;
    }

    .iconsAroundFace {
        max-width: 21.5%;
        position: absolute;
        top: 10%;
        right: 18.4%;
        @media(max-width:1199px)
        {
            display: none;
        }
    }

    .backgroundGraphic{
        @media(max-width:1199px)
        {
            display: none;
        }
    }
}

.thumbnailWrapper {
    position: static;

    @media (min-width: 1200px) {
        left: 32px;
        position: absolute;
    }

    a {
        position: relative;

        span {
            position: absolute;
            position: absolute;
            padding: 5px 8px;
            font-size: 10px;
            border-radius: 4px;
            color: #fff;
            margin: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }

    svg {
        font-size: 15px;
        margin-right: 5px;
    }

    .green {
        background: #01DC12;
    }

    .orange {
        background: #F87F06;
    }

    .blue {
        background: #0000FD;
    }

    .pink {
        background: #F450F4;
    }

    img {
        border: 1px solid #f2faff;
        box-shadow: 0px 3px 6px #30526a;
        margin: 0px 2px;
        width: 100%;
        max-height: 98px;
        cursor: pointer;
        max-width: 107px;

        @media(min-width:1200px)
        {
            max-width: 137px;
        }

    }

    .secondRow {
        @media(min-width:1200px)
        {
            margin-left: 143px;
        }
    }

    .others {
        display: flex;
        flex-direction: column;
        @media(min-width:1200px)
        {
            margin-left: 286px;
        }

        img {
            margin-bottom: 3px;
        }
    }
}