.loginWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #2A6078;
}

.loginFormWrapper {
    margin: 0;
    padding: 0 0 0 50px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(400px - 50px);
}

.loginFormWrapper h1 {
    margin: 0;
    padding: 0 0 30px 0;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    width: 100%;
}

.loginFormWrapper form {
    width: 100%;
}

.formGroup {
    position: relative;
}

.formGroup label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
}

.formGroup input {
    background: rgba(253, 253, 253, 0.5);
    border: none;
    border-radius: 3px;
    padding: 15px 15px 15px 40px;
    width: calc(100% - 55px);
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.formGroup input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.formGroup input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.formGroup input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.formGroup input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.formGroup input:focus {
    outline: none;
    border: none;
}

.loginLink {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 20px 0;
}

.loginLink a {
    display: inline-flex;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.loginFormWrapper button {
    border: none;
}

.loginFormWrapper button {
    width: 100%;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 12px;
    background: linear-gradient(#23a7e2 0%, #1b81ae 46.31%, #125471 100%);
    cursor: pointer;
}

.loginFormWrapper button[disabled] {
    background: #ADADAD;
    cursor: not-allowed;
}

.socialLogin {
    padding: 0;
    margin: 20px auto 0 auto;
    width: 300px;
}

.socialLogin h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
}

.socialLogin h2 span {
    background: #2A6078;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    position: inherit;
}

.socialLogin h2:before {
    height: 1px;
    background: #fff;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    content: "";
}

.socialLogin ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.socialLogin ul li {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 0 15px;
}

.socialLogin ul li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

.socialLogin ul li a:hover {
    background: rgba(255, 255, 255, 0.5);
}

.loginVectorWrapper {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    max-width: calc(100% - 400px);
    position: relative;
}

.loginVectorWrapper img {
    max-width: 80%;
}

.thumbnailWrapper {
    position: absolute;
    left: 32px;
}

.thumbnailWrapper a {
    position: relative;
}

.thumbnailWrapper a span {
    position: absolute;
}

.thumbnailWrapper a span {
    position: absolute;
    padding: 3px;
    font-size: 11px;
    border-radius: 4px;
    color: #fff;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.thumbnailWrapper svg {
    font-size: 15px;
    margin-right: 2px;
}

.thumbnailWrapper .green {
    background: #01DC12;
}

.thumbnailWrapper .orange {
    background: #F87F06;
}
.thumbnailWrapper .blue {
    background: #0000FD;
}
.thumbnailWrapper .pink {
    background: #F450F4;
}

.thumbnailWrapper img {
    border: 1px solid #f2faff;
    box-shadow: 0px 3px 6px #30526a;
    margin: 0px 2px;
    width: 100%;
    max-width: 137px;
    max-height: 98px;
    cursor: pointer;
}

.thumbnailWrapper img:hover {
    opacity: 0.5;
}

.thumbnailWrapper .secondRow {
    margin-left: 143px;
}

.thumbnailWrapper .others {
    display: flex;
    flex-direction: column;
    margin-left: 286px;

}

.thumbnailWrapper .others img {
    margin-bottom: 3px;
}

.img1 {
    width: 47px;
    height: 45px;
    background: url('../../assets/images/sprite.png') -10px -118px;
    position: absolute;
    right: 36%;
    top: 27%;
}

.img2 {
    width: 57px;
    height: 51px;
    background: url('../../assets/images/sprite.png') -163px -10px;
    position: absolute;
    top: 26%;
    right: 18%;
}

.img3 {
    width: 37px;
    height: 42px;
    background: url('../../assets/images/sprite.png') -77px -118px;
    position: absolute;
    top: 48%;
    right: 28%;
}

.img4 {
    width: 133px;
    height: 88px;
    background: url('../../assets/images/sprite.png') -10px -10px;
    position: absolute;
    top: 5%;
    right: 24%;
}